/vendor/
/storage/logs/*
/storage/cache/*
/storage/uploads/*
/storage/samba_acl_status/*
/storage/backup_status/*
/storage/samba_lote_status/*
/storage/config_backups/*
/storage/config_backup_status/*
/storage/config_restore_status/*
/storage/whatsapp/*
.env
/app/Config/database.php
*.log
.idea/
.vscode/
node_modules/
